/* 全局样式 */
body {
    background: linear-gradient(to bottom, #003366, #336699, #00ccff);
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1, h2, h3, p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
}

h1 {
    font-size: 3em;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 80%;
    margin: 20px auto;
}

/* "查看更多" 按钮样式 */
.view-more {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 40px;
    font-size: 1.5em;
    font-weight: bold;
    color: #00ffff;
    background: transparent;
    border: 2px solid #00ffff;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
}

.view-more:hover {
    background: #00ffff;
    color: #000;
    box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 45px #00ffff;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
